<h4>Managers</h4>

<div class="col s6">
  <div class="collection">
    <a class="collection-item" 
       *ngFor="let manager of managers" 
       [class.active]="selected == manager"
       (click)="selected = manager">
      {{manager.name}}
    </a>
  </div>
</div>
<div class="col s6" *ngIf="selected">
  <button (click)="block(selected)" [class.red]="!selected.blocked" [class.blue]="selected.blocked" class="waves-effect waves-light btn">{{selected.blocked ? "Unblock" : "Block"}}</button>
</div>
