<div class="col s6">
  <ul class="collection with-header">
    <li class="collection-header"><h4>Accommodations</h4></li>
    <li class="collection-item"
        *ngFor="let accommodation of accommodations"
        [class.active]="selected == accommodation"
        (click)="onSelectChange(accommodation)">
      {{accommodation.name}}
      <span *ngIf="accommodation.approved && tokenService.currentUserData.role != 'user'" data-badge-caption="" class="secondary-content new badge green"> Approved </span>
      <span *ngIf="!accommodation.approved && tokenService.currentUserData.role == 'manager'" data-badge-caption="" class="secondary-content new badge lime darken-1"> Pending </span>
    </li>
  </ul>
</div>
<div class="col s6" *ngIf="selected">
  <button *ngIf="!selected.approved && tokenService.currentUserData.role == 'admin'" (click)="approve(selected)" class="waves-effect waves-light btn green">Approve</button>
  <div class="row">
    <form #f="ngForm" class="col s6">
      <table>
        <tbody>
          <tr>
            <td><strong>Name</strong></td>
            <td *ngIf="!editing">{{selected.name}}</td>
            <td *ngIf="editing">
              <input id="name" name="name" type="text" [(ngModel)]="edited.name" required/>
            </td>
          </tr>
          <tr>
            <td><strong>Description</strong></td>
            <td *ngIf="!editing">{{selected.description}}</td>
            <td *ngIf="editing">
              <textarea id="description" name="description" class="materialize-textarea" [(ngModel)]="edited.description"></textarea>
            </td>
          </tr>
          <tr>
            <td><strong>Address</strong></td>
            <td *ngIf="!editing">{{selected.address}}</td>
            <td *ngIf="editing">
              <input id="address" name="address" type="text" [(ngModel)]="edited.address"/>
            </td>
          </tr>
          <tr>
            <td><strong>Latitude</strong></td>
            <td *ngIf="!editing">{{selected.latitude}}</td>
            <td *ngIf="editing">
              <input id="latitude" name="latitude" type="number" [(ngModel)]="edited.latitude"/>
            </td>
          </tr>
          <tr>
            <td><strong>Longitude</strong></td>
            <td *ngIf="!editing">{{selected.longitude}}</td>
            <td *ngIf="editing">
              <input id="longitude" name="longitude" type="number" [(ngModel)]="edited.longitude"/>
            </td>
          </tr>
          <tr>
            <td><strong>Image URL</strong></td>
            <td *ngIf="!editing">{{selected.image_url}}</td>
            <td *ngIf="editing">
              <input id="image_url" name="image_url" type="text" [(ngModel)]="edited.image_url" />
            </td>
          </tr>
          <tr>
            <td><strong>Place</strong></td>
            <td *ngIf="!editing">{{selected.place.name}}</td>
            <td *ngIf="editing">
              <select materialize="material_select"
                      [materializeSelectOptions]="places"
                      id="place"
                      name="place"
                      [(ngModel)]="edited.place">
                <option value="" disabled selected>Place</option>
                <option *ngFor="let place of places" [ngValue]="place">{{place.name}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><strong>Accommodation type</strong></td>
            <td *ngIf="!editing">{{selected.accommodation_type.name}}</td>
            <td *ngIf="editing">
              <select materialize="material_select"
                      [materializeSelectOptions]="accommodationTypes"
                      id="accommodation_type"
                      name="accommodation_type"
                      [(ngModel)]="edited.accommodation_type">
                <option value="" disabled selected>Type</option>
                <option *ngFor="let type of accommodationTypes" [ngValue]="type">{{type.name}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><strong>Managed by</strong></td>
            <td>{{selected.user.name}}</td>
          </tr>
          <tr>
            <td *ngIf="editing">
              <button (click)="cancelEdit()" class="waves-effect waves-light btn orange">Cancel</button>
            </td>
            <td>
              <button *ngIf="!editing && selected.user.id == tokenService.currentUserData.id" (click)="startEdit()" class="waves-effect waves-light btn blue">Edit</button>
              <button *ngIf="editing"(click)="update()" class="waves-effect waves-light btn">Save changes</button>
            </td>
            <td *ngIf="!editing && selected.user.id == tokenService.currentUserData.id">
              <button (click)="deleteAccommodation()" class="waves-effect waves-light btn red">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <div class="col s6">
      <ul class="collection with-header">
        <li class="collection-header"><h5>{{rooms.length > 0 ? 'Rooms' : 'No rooms, sorry'}}</h5></li>
        <li *ngFor="let room of rooms" [class.active]="selectedRoom == room" (click)="tokenService.currentUserData.role == 'manager' && onRoomSelectChange(room)" class="collection-item">
          <strong>{{room.number}}</strong>

          <span class="new badge right blue" data-badge-caption="beds">{{room.beds || 0}}</span>
          <span class="new badge right" data-badge-caption="$ per night">{{room.price || 0}}</span>
          <p><i>{{room.description || 'No description provided'}}</i></p>
          <button *ngIf="tokenService.currentUserData.role == 'manager'" (click)="deleteRoom(room)" class="waves-effect waves-light btn red">Destroy</button>
        </li>
      </ul>
      <form #f="ngForm" *ngIf="selectedRoom">
        <div class="row">
          <div class="input-field col s6">
            <input id="beds" name="beds" min="0" type="number" required [(ngModel)]="roomEdited.beds"/>
            <label for="beds">Bed count</label>
          </div>
          <div class="input-field col s6">
            <input id="price" name="price" min="0" type="number" required [(ngModel)]="roomEdited.price"/>
            <label for="price">Price per night</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="description" name="description" class="materialize-textarea" [(ngModel)]="roomEdited.description"></textarea>
            <label for="description">Description</label>
          </div>
        </div>
        <div class="col s12">
          <button type="submit" (click)="updateRoom()" [disabled]="!(f.valid)" class="waves-effect waves-light btn blue right"> Save changes </button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="tokenService.currentUserData.role == 'user'">
    <p *ngIf="rooms.length == 0">No rooms for reservation available</p>
    <form #f="ngForm" *ngIf="rooms.length > 0">
      <div class="row">
        <div class="input-field col s3">
          <select materialize="material_select"
                  [materializeSelectOptions]="rooms"
                  id="room"
                  name="room"
                  required
                  [(ngModel)]="reservation.room">
            <option value="" disabled selected>Room</option>
            <option *ngFor="let room of rooms" [ngValue]="room">{{room.number}}</option>
          </select>
        </div>
        <div class="input-field col s3">
          <label for="start">Check in</label>
          <input id="start" name="start" materialize="pickadate" type="text" [(ngModel)]="reservation.start"/>
        </div>
        <div class="input-field col s3">
          <label for="end">Check out</label>
          <input id="end" name="end" materialize="pickadate" type="text" [(ngModel)]="reservation.end"/>
        </div>
        <div class="input-field col s3">
          <button (click)="makeReservation()" class="waves-effect waves-light btn blue">Reserve</button>
        </div>
      </div>
    </form>
  </div>
</div>
