<h4>Create Room</h4>

<form #f="ngForm">
  <div class="row">
    <div class="input-field col s6">
      <select materialize="material_select"
              [materializeSelectOptions]="accommodations"
              required
              id="accommodation"
              name="accommodation"
              [(ngModel)]="room.accommodation">
        <option value="" disabled selected>Accommodation</option>
        <option *ngFor="let acc of accommodations" [ngValue]="acc">{{acc.name}}</option>
      </select>
    </div>
    <div class="input-field col s6">
      <input id="number"
             type="number"
             required
             min="0"
             name="number"
             [(ngModel)]="room.number"/>
      <label for="number">Room Number</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input id="beds" name="beds" min="0" type="number" required [(ngModel)]="room.beds"/>
      <label for="beds">Bed count</label>
    </div>
    <div class="input-field col s6">
      <input id="price" name="price" min="0" type="number" required [(ngModel)]="room.price"/>
      <label for="price">Price per night</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea id="description" name="description" class="materialize-textarea" [(ngModel)]="room.description"></textarea>
      <label for="description">Description</label>
    </div>
  </div>
  <div class="col s12">
    <button type="submit" (click)="create()" [disabled]="!(f.valid)" class="waves-effect waves-light btn blue right"> Create </button>
  </div>
</form>
