<h1>Welcome</h1>
<div *ngIf="tokenService.userSignedIn()">
  <div class="row">
    <a href="/accommodations">Accommodations</a>
  </div>
  <div *ngIf="tokenService.currentUserData.role == 'manager'" class="row">
    <a href="/accommodations/create">Create accommodation</a>
  </div>
  <div *ngIf="tokenService.currentUserData.role == 'manager'" class="row">
    <a href="/rooms/create">Create Room</a>
  </div>
  <div *ngIf="tokenService.currentUserData.role == 'admin'" class="row">
    <a href="/managers">Managers</a>
  </div>
</div>
<div *ngIf="!tokenService.userSignedIn()">
  <h5>Please log in before proceeding...</h5>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
</div>
